body {
	font-family: Arial, Helvetica, sans-serif;
	padding: 50px;
	background-color: #e4e4e4;
}


h1 {
	font-weight: normal;
	font-size: 25px;
	color: #9A0963;
}


p {
	margin-top: 0px;
}

a {
	color: #4B0E34;
	text-decoration: none;
}
a:hover {
	color: #0099CC;
}

img {
	width: 400px;
	margin-bottom: 30px;
}

ul {
	list-style: none;
	padding: 0px;
	margin: 0px 0px 0px 0px;
}

li {
	display: inline;
	margin: 0px 20px 0px 0px;
}
